<html>
<head>
<title>Login</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				<form action="/calculate" method="post">
					<!-- This panel is for login -->
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading">Calculator</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="inputNum1"
										class="col-sm-2 control-label pull-left">Number 1</label>
									<div class="col-sm-10">
										<input type="number" class="form-control" name="inputNum1"
											id="num1">
									</div>
								</div>
								<div class="form-group">
									<label for="inputNum2">Number 2</label>
									<div class="col-sm-10">
										<input type="number" class="form-control" name="inputNum2"
											id="num2">
									</div>
								</div>

								<div class="form-group">
									<div class="pull-left signIn">
										<button type="submit" class="btn btn-primary" onclick="showInput();">Addition</button>
										<button type="submit" class="btn btn-primary" value = "sub" onclick="showInput();" >Subtraction</button>
										<button type="submit" class="btn btn-primary" value = "sub" onclick="showInput();">Multiplication</button>
										<button type="submit" class="btn btn-primary" value = "sub" onclick="showInput();">Division</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>